<div class="jumbotron box">
	<h1>Welcome to HireMe!</h1>
  	<p>Showcase your professional experience, work samples, and discover opportunities.</p>
  	<p>Get started with your free account.</p>
</div>
