<div class="jumbotron">
  <h1>Welcome to HireMe!</h1>
  <p>Please sign in or sign up to access this awesome website</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

